@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Game count: @gameCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int gameCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        IncrementGameCount();
    }

    private void IncrementGameCount()
    {
        gameCount++;
    }
}